In [1]:
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as plt
import yfinance as yf
from pypfopt.expected_returns import mean_historical_return
from pypfopt.risk_models import CovarianceShrinkage
# pyfolio  qgrid empyrical
import pickle
import numpy as np
import time
import seaborn as sns
from itertools import combinations
import multiprocessing as mp
from tqdm import tqdm
import sys
%load_ext autoreload
%autoreload 2
%config Completer.use_jedi = False

In [2]:
import os
current_path = os.getcwd()

In [3]:
sys.path.append('C:\\Users\\Rafael\\Trading\\Trading')

In [4]:
import TradingModule as td

In [5]:
with open('C:\\Users\\Rafael\\Trading\\Trading\\ibov.pkl','rb') as file:
     data =pickle.load(file)
data1 =data['Adj Close']

In [6]:
import parallel as pl

In [7]:
print(pl.parallelize(data1,rollmeanstrat))

NameError: name 'rollmeanstrat' is not defined

In [8]:
pd.options.mode.chained_assignment = None

In [11]:
inic =''
def estrat(x):
    global inic
    if inic!=x:
        inic = x
        return x
    
    else:
        return np.nan


def rollmeanstrat(serie,longmean=100,shortmean=10):
    start_time = time.clock()

    serie =pd.DataFrame(serie)

    print(serie)



    serie['roll']   =  serie.rolling(shortmean,min_periods=5).mean()-serie.rolling(longmean,min_periods=5).mean()
    

    serie['DECISAO']=np.nan
    
    serie.loc[serie['roll']>0.0,'DECISAO']='COMPRA'
    serie.loc[serie['roll']<=0.0,'DECISAO'] ='VENDA'
    
    serie['ESTRAT'] =serie['DECISAO'].apply(func=estrat)

    
    x =returns(serie)
    
    return x
def returns(serie,tipo_oper ='COMPRA'):
    start_time = time.clock()
    
    serie=serie.dropna()
    
    serie['LUCRO']= serie.iloc[:,0].shift(-1)/(serie.iloc[:,0])
   
    
    serie= serie.loc[(serie['ESTRAT']==tipo_oper) & (pd.notna(serie['LUCRO']))]
    
    
   
    
   
    retorno_total=serie['LUCRO'].rolling(len(serie )).apply(np.prod, raw=True).dropna()
   
    return retorno_total

In [12]:
start_time = time.clock()
print(rollmeanstrat(data1['BBAS3.SA'],100,50))
print (1,time.clock() - start_time, "seconds")

             BBAS3.SA
Date
2014-12-22  18.839794
2014-12-23  18.770786
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  18.824457
...               ...
2019-12-16  47.869999
2019-12-17  48.950001
2019-12-18  50.639999
2019-12-19  51.160000
2019-12-20  50.459999

[1305 rows x 1 columns]
Date
2019-06-26    1.116868
Name: LUCRO, dtype: float64
1 0.032335500000044703 seconds

In [ ]:
start_time = time.clock()
test =data1.apply(rollmeanstrat,args=(50,9))
print (time.clock() - start_time, "seconds")

In [47]:
params =np.array_split([i for i in combinations(range(10,100,5),2)], mp.cpu_count() - 1)

In [48]:
start_time = time.clock()
if __name__ == '__main__':
    pool = mp.Pool(processes = (mp.cpu_count()))
    results = pool.map(td.worker, params)
    
    pool.close()
    pool.join()
print (time.clock() - start_time, "seconds")

30.429786799999988 seconds

In [55]:
results[10]

{(70, 85): 1.5754897592631398,
 (70, 90): 1.6147184294337018,
 (70, 95): 1.6108954357758194,
 (75, 80): 1.5075272903164167,
 (75, 85): 1.5614178098051918,
 (75, 90): 1.5796124773009896,
 (75, 95): 1.6100459230747568,
 (80, 85): 1.726666157710107,
 (80, 90): 1.5974075325893589,
 (80, 95): 1.5565307141351372,
 (85, 90): 1.5734788603129757,
 (85, 95): 1.5638476126556873,
 (90, 95): 1.5701709863301503}

In [62]:
dic ={}

In [ ]:
[dic.update(i) for i in results]

In [69]:
pd.Series(dic).drop_duplicates()

10  15    1.410361
    20    1.248606
    25    1.230880
    30    1.187015
    35    1.155820
            ...
80  90    1.597408
    95    1.556531
85  90    1.573479
    95    1.563848
90  95    1.570171
Length: 153, dtype: float64

In [14]:
start_time = time.clock()
pars = {}
pars2 = {}

for z in tqdm(range(10,50,5), position=0, leave=True):
    lista =[] 
    for y in range(10,50,5):
        
        if y<z:
            print(z,y)
            test =data1.apply(rollmeanstrat,args=(z,y)) 
            
            pars[(z,y)]=test.sum().mean()
            pars2[(z,y)]=test.sum().median()
print (time.clock() - start_time, "seconds")

  0%|          | 0/8 [00:00<?, ?it/s]

15 10
             ABEV3.SA
Date
2014-12-22  13.898333
2014-12-23  13.838793
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.796264
...               ...
2019-12-16  18.591703
2019-12-17  18.426054
2019-12-18  18.601448
2019-12-19  18.679399
2019-12-20  18.959999

[1305 rows x 1 columns]
             ABEV3.SA
Date
2014-12-22  13.898333
2014-12-23  13.838793
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.796264
...               ...
2019-12-16  18.591703
2019-12-17  18.426054
2019-12-18  18.601448
2019-12-19  18.679399
2019-12-20  18.959999

[1305 rows x 1 columns]
             AZUL4.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  57.270000
2019-12-17  56.869999
2019-12-18  57.610001
2019-12-19  57.709999
2019-12-20  56.759998

[1305 rows x 1 columns]
             B3SA3.SA
Date
2014-12-22   8.190856
2014-12-23   8.343321
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.207795
...               ...
2019-12-16  46.220001
2019-12-17  47.790001
2019-12-18  48.560001
2019-12-19  48.560001
2019-12-20  49.070000

[1305 rows x 1 columns]
             BBAS3.SA
Date
2014-12-22  18.839794
2014-12-23  18.770786
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  18.824457
...               ...
2019-12-16  47.869999
2019-12-17  48.950001
2019-12-18  50.639999
2019-12-19  51.160000
2019-12-20  50.459999

[1305 rows x 1 columns]
             BBDC3.SA
Date
2014-12-22  14.974662
2014-12-23  15.403829
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.171060
...               ...
2019-12-16  32.029999
2019-12-17  32.540001
2019-12-18  33.799999
2019-12-19  34.299999
2019-12-20  33.340000

[1305 rows x 1 columns]
             BBDC4.SA
Date
2014-12-22  13.735450
2014-12-23  14.197092
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.895813
...               ...
2019-12-16  33.670612
2019-12-17  34.291046
2019-12-18  35.246311
2019-12-19  35.896282
2019-12-20  35.610001

[1305 rows x 1 columns]
             BBSE3.SA
Date
2014-12-22  23.280300
2014-12-23  23.526930
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  24.453657
...               ...
2019-12-16  36.820000
2019-12-17  37.549999
2019-12-18  38.029999
2019-12-19  38.299999
2019-12-20  37.889999

[1305 rows x 1 columns]
            BPAC11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  74.180000
2019-12-17  74.839996
2019-12-18  75.269997
2019-12-19  76.320000
2019-12-20  75.570000

[1305 rows x 1 columns]
             BRAP4.SA
Date
2014-12-22  10.551868
2014-12-23  10.915726
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.706703
...               ...
2019-12-16  37.750000
2019-12-17  37.630001
2019-12-18  37.400002
2019-12-19  37.500000
2019-12-20  37.900002

[1305 rows x 1 columns]
             BRDT3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  28.500000
2019-12-17  29.200001
2019-12-18  29.219999
2019-12-19  29.430000
2019-12-20  29.469999

[1305 rows x 1 columns]
             BRFS3.SA
Date
2014-12-22  60.871243
2014-12-23  61.110550
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  60.210739
...               ...
2019-12-16  34.740002
2019-12-17  33.630001
2019-12-18  34.330002
2019-12-19  34.369999
2019-12-20  34.610001

[1305 rows x 1 columns]
             BRKM5.SA
Date
2014-12-22  12.527965
2014-12-23  12.758762
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.564026
...               ...
2019-12-16  28.639999
2019-12-17  28.459999
2019-12-18  28.770000
2019-12-19  28.010000
2019-12-20  28.160000

[1305 rows x 1 columns]
              BRL=X
Date
2014-12-22  2.65650
2014-12-23  2.66240
2014-12-24  2.69120
2014-12-25  2.69120
2014-12-26  2.69520
...             ...
2019-12-16  4.08580
2019-12-17  4.06190
2019-12-18  4.07020
2019-12-19  4.05966
2019-12-20  4.06880

[1305 rows x 1 columns]
             BRML3.SA
Date
2014-12-22   9.556483
2014-12-23   9.685891
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.768322
...               ...
2019-12-16  17.360001
2019-12-17  17.389999
2019-12-18  17.670000
2019-12-19  18.000000
2019-12-20  17.950001

[1305 rows x 1 columns]
             BTOW3.SA
Date
2014-12-22  23.167500
2014-12-23  23.264000
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.119200
...               ...
2019-12-16  66.540001
2019-12-17  64.279999
2019-12-18  63.880001
2019-12-19  63.810001
2019-12-20  62.419998

[1305 rows x 1 columns]
             CCRO3.SA
Date
2014-12-22  12.488661
2014-12-23  12.665806
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.641649
...               ...
2019-12-16  17.770000
2019-12-17  17.750000
2019-12-18  18.209999
2019-12-19  18.230000
2019-12-20  18.709999

[1305 rows x 1 columns]
             CIEL3.SA
Date
2014-12-22  17.888815
2014-12-23  17.821741
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  17.888815
...               ...
2019-12-16   8.330000
2019-12-17   8.790000
2019-12-18   8.740000
2019-12-19   8.540000
2019-12-20   8.470000

[1305 rows x 1 columns]
             CMIG4.SA
Date
2014-12-22   9.036619
2014-12-23   9.164706
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.371041
...               ...
2019-12-16  13.410000
2019-12-17  13.500000
2019-12-18  13.570000
2019-12-19  13.690000
2019-12-20  13.660000

[1305 rows x 1 columns]
             COGN3.SA
Date
2014-12-22  14.441692
2014-12-23  14.521875
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.815874
...               ...
2019-12-16  12.100000
2019-12-17  12.000000
2019-12-18  11.640000
2019-12-19  11.210000
2019-12-20  11.100000

[1305 rows x 1 columns]
             CSAN3.SA
Date
2014-12-22  22.854237
2014-12-23  23.340143
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.348379
...               ...
2019-12-16  69.330002
2019-12-17  68.400002
2019-12-18  69.120003
2019-12-19  68.370003
2019-12-20  69.900002

[1305 rows x 1 columns]
             CSNA3.SA
Date
2014-12-22   4.523788
2014-12-23   4.847467
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   4.662508
...               ...
2019-12-16  14.010000
2019-12-17  13.880000
2019-12-18  13.730000
2019-12-19  13.730000
2019-12-20  13.870000

[1305 rows x 1 columns]
             CVCB3.SA
Date
2014-12-22  14.142779
2014-12-23  14.050944
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.050944
...               ...
2019-12-16  43.380001
2019-12-17  42.660000
2019-12-18  43.070000
2019-12-19  44.590000
2019-12-20  43.860001

[1305 rows x 1 columns]
             CYRE3.SA
Date
2014-12-22   9.599018
2014-12-23   9.573166
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.564550
...               ...
2019-12-16  30.110001
2019-12-17  29.660000
2019-12-18  29.700001
2019-12-19  29.290001
2019-12-20  29.080000

[1305 rows x 1 columns]
                  DAX
Date
2014-12-22  23.931648
2014-12-23  23.942440
2014-12-24  23.982016
2014-12-25        NaN
2014-12-26  23.924452
...               ...
2019-12-16  28.379999
2019-12-17  28.195000
2019-12-18  27.990000
2019-12-19  27.834999
2019-12-20  27.955000

[1305 rows x 1 columns]
             ECOR3.SA
Date
2014-12-22   8.562092
2014-12-23   8.669221
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.710424
...               ...
2019-12-16  15.210000
2019-12-17  15.150000
2019-12-18  15.510000
2019-12-19  15.960000
2019-12-20  15.900000

[1305 rows x 1 columns]
             EGIE3.SA
Date
2014-12-22  17.482048
2014-12-23  17.517969
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  17.651382
...               ...
2019-12-16  47.509998
2019-12-17  47.299999
2019-12-18  49.680000
2019-12-19  48.750000
2019-12-20  48.860001

[1305 rows x 1 columns]
             ELET3.SA
Date
2014-12-22   5.487000
2014-12-23   5.467510
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.711155
...               ...
2019-12-16  36.250000
2019-12-17  35.930000
2019-12-18  35.389999
2019-12-19  35.869999
2019-12-20  35.720001

[1305 rows x 1 columns]
             ELET6.SA
Date
2014-12-22   6.438653
2014-12-23   6.613616
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.911055
...               ...
2019-12-16  37.849998
2019-12-17  37.660000
2019-12-18  36.549999
2019-12-19  37.099998
2019-12-20  37.099998

[1305 rows x 1 columns]
             EMBR3.SA
Date
2014-12-22  23.668304
2014-12-23  24.342890
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.649029
...               ...
2019-12-16  18.959999
2019-12-17  19.160000
2019-12-18  19.420000
2019-12-19  19.290001
2019-12-20  19.379999

[1305 rows x 1 columns]
             ENBR3.SA
Date
2014-12-22   6.745986
2014-12-23   6.866048
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.828530
...               ...
2019-12-16  20.610001
2019-12-17  20.500000
2019-12-18  20.719999
2019-12-19  21.160000
2019-12-20  21.330000

[1305 rows x 1 columns]
             EQTL3.SA
Date
2014-12-22   3.473926
2014-12-23   3.500926
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   3.495783
...               ...
2019-12-16  22.059999
2019-12-17  22.080000
2019-12-18  22.379999
2019-12-19  22.549999
2019-12-20  22.379999

[1305 rows x 1 columns]
             FLRY3.SA
Date
2014-12-22   5.930368
2014-12-23   5.853848
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.915065
...               ...
2019-12-16  28.950001
2019-12-17  28.809999
2019-12-18  29.850000
2019-12-19  30.400000
2019-12-20  29.790001

[1305 rows x 1 columns]
             GGBR4.SA
Date
2014-12-22   8.618934
2014-12-23   8.986873
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.609735
...               ...
2019-12-16  18.110001
2019-12-17  18.020000
2019-12-18  17.830000
2019-12-19  18.270000
2019-12-20  19.090000

[1305 rows x 1 columns]
             GNDI3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  61.590000
2019-12-17  63.000000
2019-12-18  65.330002
2019-12-19  66.699997
2019-12-20  67.639999

[1305 rows x 1 columns]
             GOAU4.SA
Date
2014-12-22  10.200424
2014-12-23  10.648383
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.265753
...               ...
2019-12-16   8.480000
2019-12-17   8.430000
2019-12-18   8.390000
2019-12-19   8.700000
2019-12-20   8.970000

[1305 rows x 1 columns]
             GOLL4.SA
Date
2014-12-22  14.700000
2014-12-23  14.270000
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.590000
...               ...
2019-12-16  36.330002
2019-12-17  35.330002
2019-12-18  35.150002
2019-12-19  36.439999
2019-12-20  36.049999

[1305 rows x 1 columns]
             HYPE3.SA
Date
2014-12-22  14.569495
2014-12-23  14.684285
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.799074
...               ...
2019-12-16  33.500000
2019-12-17  33.619999
2019-12-18  34.910000
2019-12-19  35.480000
2019-12-20  35.389999

[1305 rows x 1 columns]
             IGTA3.SA
Date
2014-12-22  23.278322
2014-12-23  23.445059
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.250532
...               ...
2019-12-16  50.669998
2019-12-17  50.139999
2019-12-18  50.560001
2019-12-19  50.869999
2019-12-20  51.139999

[1305 rows x 1 columns]
             IRBR3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  36.740002
2019-12-17  37.220001
2019-12-18  38.209999
2019-12-19  38.250000
2019-12-20  38.750000

[1305 rows x 1 columns]
             ITSA4.SA
Date
2014-12-22   5.141556
2014-12-23   5.146901
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.066731
...               ...
2019-12-16  13.570000
2019-12-17  13.830000
2019-12-18  13.970000
2019-12-19  13.980000
2019-12-20  13.880000

[1305 rows x 1 columns]
             ITUB4.SA
Date
2014-12-22  15.164505
2014-12-23  15.233696
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.017374
...               ...
2019-12-16  35.480000
2019-12-17  36.020000
2019-12-18  36.480000
2019-12-19  36.660000
2019-12-20  36.400002

[1305 rows x 1 columns]
             JBSS3.SA
Date
2014-12-22  10.574880
2014-12-23  10.340714
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.200217
...               ...
2019-12-16  25.500000
2019-12-17  24.990000
2019-12-18  25.879999
2019-12-19  26.250000
2019-12-20  25.990000

[1305 rows x 1 columns]
            KLBN11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  18.520000
2019-12-17  18.750000
2019-12-18  18.840000
2019-12-19  18.790001
2019-12-20  18.740000

[1305 rows x 1 columns]
             LAME4.SA
Date
2014-12-22  13.124061
2014-12-23  13.386642
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.426507
...               ...
2019-12-16  26.500000
2019-12-17  25.870001
2019-12-18  25.700001
2019-12-19  25.850000
2019-12-20  25.709999

[1305 rows x 1 columns]
             LREN3.SA
Date
2014-12-22  10.733930
2014-12-23  10.606019
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.611716
...               ...
2019-12-16  54.450001
2019-12-17  54.139999
2019-12-18  55.099998
2019-12-19  55.639999
2019-12-20  55.450001

[1305 rows x 1 columns]
             MGLU3.SA
Date
2014-12-22   0.456820
2014-12-23   0.451446
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   0.453237
...               ...
2019-12-16  49.299999
2019-12-17  47.880001
2019-12-18  48.529999
2019-12-19  48.619999
2019-12-20  48.299999

[1305 rows x 1 columns]
            MRFG3.SA
Date
2014-12-22      5.80
2014-12-23      5.90
2014-12-24       NaN
2014-12-25       NaN
2014-12-26      6.09
...              ...
2019-12-16     10.87
2019-12-17     10.70
2019-12-18     10.25
2019-12-19      9.72
2019-12-20      9.45

[1305 rows x 1 columns]
             MRVE3.SA
Date
2014-12-22   5.299044
2014-12-23   5.475682
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.369698
...               ...
2019-12-16  22.350000
2019-12-17  21.870001
2019-12-18  21.540001
2019-12-19  21.730000
2019-12-20  21.110001

[1305 rows x 1 columns]
             MULT3.SA
Date
2014-12-22  12.643862
2014-12-23  12.786366
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.690367
...               ...
2019-12-16  31.080000
2019-12-17  30.730000
2019-12-18  31.100000
2019-12-19  31.660000
2019-12-20  31.420000

[1305 rows x 1 columns]
            NAN.SA
Date
2014-12-22     NaN
2014-12-23     NaN
2014-12-24     NaN
2014-12-25     NaN
2014-12-26     NaN
...            ...
2019-12-16     NaN
2019-12-17     NaN
2019-12-18     NaN
2019-12-19     NaN
2019-12-20     NaN

[1305 rows x 1 columns]
             NATU3.SA
Date
2014-12-22  12.780932
2014-12-23  12.902656
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.740357
...               ...
2019-12-16  38.000000
2019-12-17  36.860001
2019-12-18  36.860001
2019-12-19        NaN
2019-12-20        NaN

[1305 rows x 1 columns]
             PCAR4.SA
Date
2014-12-22  94.387619
2014-12-23  93.759331
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  92.816872
...               ...
2019-12-16  83.820000
2019-12-17  84.470001
2019-12-18  87.849998
2019-12-19  87.430000
2019-12-20  87.349998

[1305 rows x 1 columns]
             PETR3.SA
Date
2014-12-22   9.651137
2014-12-23  10.225723
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.592704
...               ...
2019-12-16  31.090000
2019-12-17  31.520000
2019-12-18  32.349998
2019-12-19  32.299999
2019-12-20  32.040001

[1305 rows x 1 columns]
             PETR4.SA
Date
2014-12-22   9.754436
2014-12-23  10.262382
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.707404
...               ...
2019-12-16  29.410000
2019-12-17  29.850000
2019-12-18  30.540001
2019-12-19  30.610001
2019-12-20  30.150000

[1305 rows x 1 columns]
             QUAL3.SA
Date
2014-12-22  18.730698
2014-12-23  18.827818
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  19.119184
...               ...
2019-12-16  33.950001
2019-12-17  34.150002
2019-12-18  35.680000
2019-12-19  37.000000
2019-12-20  36.610001

[1305 rows x 1 columns]
              RADL3.SA
Date
2014-12-22   22.930326
2014-12-23   22.730934
2014-12-24         NaN
2014-12-25         NaN
2014-12-26   23.177193
...                ...
2019-12-16  105.330002
2019-12-17  106.010002
2019-12-18  104.930000
2019-12-19  105.760002
2019-12-20  106.459999

[1305 rows x 1 columns]
             RAIL3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  25.370001
2019-12-17  25.260000
2019-12-18  25.260000
2019-12-19  25.480000
2019-12-20  25.260000

[1305 rows x 1 columns]
             RENT3.SA
Date
2014-12-22   9.292683
2014-12-23   9.259399
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.118677
...               ...
2019-12-16  47.399837
2019-12-17  47.200256
2019-12-18  48.330002
2019-12-19  48.900002
2019-12-20  48.009998

[1305 rows x 1 columns]
            SANB11.SA
Date
2014-12-22  10.523805
2014-12-23  10.444560
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.555504
...               ...
2019-12-16  44.540001
2019-12-17  44.930000
2019-12-18  46.299999
2019-12-19  47.049999
2019-12-20  47.240002

[1305 rows x 1 columns]

C:\Users\Rafael\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

             SBSP3.SA
Date
2014-12-22  15.246716
2014-12-23  15.353088
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.432865
...               ...
2019-12-16  58.540001
2019-12-17  58.130001
2019-12-18  59.310001
2019-12-19  59.639999
2019-12-20  59.700001

[1305 rows x 1 columns]
             SMLS3.SA
Date
2014-12-22  31.434816
2014-12-23  31.791348
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  31.617624
...               ...
2019-12-16  38.500000
2019-12-17  38.450001
2019-12-18  38.880001
2019-12-19  39.209999
2019-12-20  38.790001

[1305 rows x 1 columns]
                   SPY
Date
2014-12-22  188.007996
2014-12-23  188.261719
2014-12-24  188.279846
2014-12-25         NaN
2014-12-26  188.886978
...                ...
2019-12-16  317.936859
2019-12-17  318.006531
2019-12-18  318.026398
2019-12-19  319.329987
2019-12-20  320.730011

[1305 rows x 1 columns]
             SUZB3.SA
Date
2014-12-22  19.164869
2014-12-23  19.164869
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  19.164869
...               ...
2019-12-16  39.200001
2019-12-17  40.029999
2019-12-18  39.570000
2019-12-19  39.669998
2019-12-20  40.279999

[1305 rows x 1 columns]
            TAEE11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  30.239584
2019-12-17  30.270000
2019-12-18  30.400000
2019-12-19  30.500000
2019-12-20  30.309999

[1305 rows x 1 columns]
             TIMP3.SA
Date
2014-12-22  10.425957
2014-12-23  10.496581
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.328848
...               ...
2019-12-16  14.520000
2019-12-17  14.610000
2019-12-18  14.790000
2019-12-19  14.700000
2019-12-20  15.250000

[1305 rows x 1 columns]
             UGPA3.SA
Date
2014-12-22  20.399210
2014-12-23  20.391304
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  20.252935
...               ...
2019-12-16  22.430000
2019-12-17  23.000000
2019-12-18  23.690001
2019-12-19  24.290001
2019-12-20  24.490000

[1305 rows x 1 columns]
            USIM5.SA
Date
2014-12-22  5.137269
2014-12-23  5.195757
2014-12-24       NaN
2014-12-25       NaN
2014-12-26  5.020291
...              ...
2019-12-16  9.120000
2019-12-17  9.250000
2019-12-18  9.250000
2019-12-19  9.320000
2019-12-20  9.330000

[1305 rows x 1 columns]
             VALE3.SA
Date
2014-12-22  18.549894
2014-12-23  19.287720
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  18.818983
...               ...
2019-12-16  53.340000
2019-12-17  53.419998
2019-12-18  53.470001
2019-12-19  54.000000
2019-12-20  54.700001

[1305 rows x 1 columns]
             VIVT4.SA
Date
2014-12-22  31.935505
2014-12-23  32.315010
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  31.820358
...               ...
2019-12-16  56.630001
2019-12-17  56.869999
2019-12-18  57.060001
2019-12-19  57.240002
2019-12-20  57.720001

[1305 rows x 1 columns]
             VVAR3.SA
Date
2014-12-22   4.936535
2014-12-23   4.936535
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.543556
...               ...
2019-12-16  11.250000
2019-12-17  10.990000
2019-12-18  11.260000
2019-12-19  11.240000
2019-12-20  11.160000

[1305 rows x 1 columns]
             WEGE3.SA
Date
2014-12-22  10.349578
2014-12-23  10.305437
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.424267
...               ...
2019-12-16  33.490002
2019-12-17  33.959999
2019-12-18  33.900002
2019-12-19  33.599998
2019-12-20  34.029999

[1305 rows x 1 columns]

 25%|██▌       | 2/8 [00:01<00:03,  1.65it/s]

             YDUQ3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  47.349998
2019-12-17  46.349998
2019-12-18  48.139999
2019-12-19  49.700001
2019-12-20  48.990002

[1305 rows x 1 columns]
               ^BVSP
Date
2014-12-22   50121.0
2014-12-23   50890.0
2014-12-24       NaN
2014-12-25       NaN
2014-12-26   50145.0
...              ...
2019-12-16  111896.0
2019-12-17  112616.0
2019-12-18  114315.0
2019-12-19  115131.0
2019-12-20  115121.0

[1305 rows x 1 columns]
                   ^N225
Date
2014-12-22  17635.140625
2014-12-23           NaN
2014-12-24  17854.230469
2014-12-25  17808.750000
2014-12-26  17818.960938
...                  ...
2019-12-16  23952.349609
2019-12-17  24066.119141
2019-12-18  23934.429688
2019-12-19  23864.849609
2019-12-20  23816.630859

[1305 rows x 1 columns]
20 10
             ABEV3.SA
Date
2014-12-22  13.898333
2014-12-23  13.838793
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.796264
...               ...
2019-12-16  18.591703
2019-12-17  18.426054
2019-12-18  18.601448
2019-12-19  18.679399
2019-12-20  18.959999

[1305 rows x 1 columns]
             ABEV3.SA
Date
2014-12-22  13.898333
2014-12-23  13.838793
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.796264
...               ...
2019-12-16  18.591703
2019-12-17  18.426054
2019-12-18  18.601448
2019-12-19  18.679399
2019-12-20  18.959999

[1305 rows x 1 columns]
             AZUL4.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  57.270000
2019-12-17  56.869999
2019-12-18  57.610001
2019-12-19  57.709999
2019-12-20  56.759998

[1305 rows x 1 columns]
             B3SA3.SA
Date
2014-12-22   8.190856
2014-12-23   8.343321
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.207795
...               ...
2019-12-16  46.220001
2019-12-17  47.790001
2019-12-18  48.560001
2019-12-19  48.560001
2019-12-20  49.070000

[1305 rows x 1 columns]
             BBAS3.SA
Date
2014-12-22  18.839794
2014-12-23  18.770786
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  18.824457
...               ...
2019-12-16  47.869999
2019-12-17  48.950001
2019-12-18  50.639999
2019-12-19  51.160000
2019-12-20  50.459999

[1305 rows x 1 columns]
             BBDC3.SA
Date
2014-12-22  14.974662
2014-12-23  15.403829
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.171060
...               ...
2019-12-16  32.029999
2019-12-17  32.540001
2019-12-18  33.799999
2019-12-19  34.299999
2019-12-20  33.340000

[1305 rows x 1 columns]
             BBDC4.SA
Date
2014-12-22  13.735450
2014-12-23  14.197092
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.895813
...               ...
2019-12-16  33.670612
2019-12-17  34.291046
2019-12-18  35.246311
2019-12-19  35.896282
2019-12-20  35.610001

[1305 rows x 1 columns]
             BBSE3.SA
Date
2014-12-22  23.280300
2014-12-23  23.526930
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  24.453657
...               ...
2019-12-16  36.820000
2019-12-17  37.549999
2019-12-18  38.029999
2019-12-19  38.299999
2019-12-20  37.889999

[1305 rows x 1 columns]
            BPAC11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  74.180000
2019-12-17  74.839996
2019-12-18  75.269997
2019-12-19  76.320000
2019-12-20  75.570000

[1305 rows x 1 columns]
             BRAP4.SA
Date
2014-12-22  10.551868
2014-12-23  10.915726
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.706703
...               ...
2019-12-16  37.750000
2019-12-17  37.630001
2019-12-18  37.400002
2019-12-19  37.500000
2019-12-20  37.900002

[1305 rows x 1 columns]
             BRDT3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  28.500000
2019-12-17  29.200001
2019-12-18  29.219999
2019-12-19  29.430000
2019-12-20  29.469999

[1305 rows x 1 columns]
             BRFS3.SA
Date
2014-12-22  60.871243
2014-12-23  61.110550
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  60.210739
...               ...
2019-12-16  34.740002
2019-12-17  33.630001
2019-12-18  34.330002
2019-12-19  34.369999
2019-12-20  34.610001

[1305 rows x 1 columns]
             BRKM5.SA
Date
2014-12-22  12.527965
2014-12-23  12.758762
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.564026
...               ...
2019-12-16  28.639999
2019-12-17  28.459999
2019-12-18  28.770000
2019-12-19  28.010000
2019-12-20  28.160000

[1305 rows x 1 columns]
              BRL=X
Date
2014-12-22  2.65650
2014-12-23  2.66240
2014-12-24  2.69120
2014-12-25  2.69120
2014-12-26  2.69520
...             ...
2019-12-16  4.08580
2019-12-17  4.06190
2019-12-18  4.07020
2019-12-19  4.05966
2019-12-20  4.06880

[1305 rows x 1 columns]
             BRML3.SA
Date
2014-12-22   9.556483
2014-12-23   9.685891
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.768322
...               ...
2019-12-16  17.360001
2019-12-17  17.389999
2019-12-18  17.670000
2019-12-19  18.000000
2019-12-20  17.950001

[1305 rows x 1 columns]
             BTOW3.SA
Date
2014-12-22  23.167500
2014-12-23  23.264000
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.119200
...               ...
2019-12-16  66.540001
2019-12-17  64.279999
2019-12-18  63.880001
2019-12-19  63.810001
2019-12-20  62.419998

[1305 rows x 1 columns]
             CCRO3.SA
Date
2014-12-22  12.488661
2014-12-23  12.665806
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.641649
...               ...
2019-12-16  17.770000
2019-12-17  17.750000
2019-12-18  18.209999
2019-12-19  18.230000
2019-12-20  18.709999

[1305 rows x 1 columns]
             CIEL3.SA
Date
2014-12-22  17.888815
2014-12-23  17.821741
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  17.888815
...               ...
2019-12-16   8.330000
2019-12-17   8.790000
2019-12-18   8.740000
2019-12-19   8.540000
2019-12-20   8.470000

[1305 rows x 1 columns]
             CMIG4.SA
Date
2014-12-22   9.036619
2014-12-23   9.164706
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.371041
...               ...
2019-12-16  13.410000
2019-12-17  13.500000
2019-12-18  13.570000
2019-12-19  13.690000
2019-12-20  13.660000

[1305 rows x 1 columns]
             COGN3.SA
Date
2014-12-22  14.441692
2014-12-23  14.521875
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.815874
...               ...
2019-12-16  12.100000
2019-12-17  12.000000
2019-12-18  11.640000
2019-12-19  11.210000
2019-12-20  11.100000

[1305 rows x 1 columns]
             CSAN3.SA
Date
2014-12-22  22.854237
2014-12-23  23.340143
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.348379
...               ...
2019-12-16  69.330002
2019-12-17  68.400002
2019-12-18  69.120003
2019-12-19  68.370003
2019-12-20  69.900002

[1305 rows x 1 columns]
             CSNA3.SA
Date
2014-12-22   4.523788
2014-12-23   4.847467
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   4.662508
...               ...
2019-12-16  14.010000
2019-12-17  13.880000
2019-12-18  13.730000
2019-12-19  13.730000
2019-12-20  13.870000

[1305 rows x 1 columns]
             CVCB3.SA
Date
2014-12-22  14.142779
2014-12-23  14.050944
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.050944
...               ...
2019-12-16  43.380001
2019-12-17  42.660000
2019-12-18  43.070000
2019-12-19  44.590000
2019-12-20  43.860001

[1305 rows x 1 columns]
             CYRE3.SA
Date
2014-12-22   9.599018
2014-12-23   9.573166
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.564550
...               ...
2019-12-16  30.110001
2019-12-17  29.660000
2019-12-18  29.700001
2019-12-19  29.290001
2019-12-20  29.080000

[1305 rows x 1 columns]
                  DAX
Date
2014-12-22  23.931648
2014-12-23  23.942440
2014-12-24  23.982016
2014-12-25        NaN
2014-12-26  23.924452
...               ...
2019-12-16  28.379999
2019-12-17  28.195000
2019-12-18  27.990000
2019-12-19  27.834999
2019-12-20  27.955000

[1305 rows x 1 columns]
             ECOR3.SA
Date
2014-12-22   8.562092
2014-12-23   8.669221
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.710424
...               ...
2019-12-16  15.210000
2019-12-17  15.150000
2019-12-18  15.510000
2019-12-19  15.960000
2019-12-20  15.900000

[1305 rows x 1 columns]
             EGIE3.SA
Date
2014-12-22  17.482048
2014-12-23  17.517969
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  17.651382
...               ...
2019-12-16  47.509998
2019-12-17  47.299999
2019-12-18  49.680000
2019-12-19  48.750000
2019-12-20  48.860001

[1305 rows x 1 columns]
             ELET3.SA
Date
2014-12-22   5.487000
2014-12-23   5.467510
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.711155
...               ...
2019-12-16  36.250000
2019-12-17  35.930000
2019-12-18  35.389999
2019-12-19  35.869999
2019-12-20  35.720001

[1305 rows x 1 columns]
             ELET6.SA
Date
2014-12-22   6.438653
2014-12-23   6.613616
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.911055
...               ...
2019-12-16  37.849998
2019-12-17  37.660000
2019-12-18  36.549999
2019-12-19  37.099998
2019-12-20  37.099998

[1305 rows x 1 columns]
             EMBR3.SA
Date
2014-12-22  23.668304
2014-12-23  24.342890
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.649029
...               ...
2019-12-16  18.959999
2019-12-17  19.160000
2019-12-18  19.420000
2019-12-19  19.290001
2019-12-20  19.379999

[1305 rows x 1 columns]
             ENBR3.SA
Date
2014-12-22   6.745986
2014-12-23   6.866048
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.828530
...               ...
2019-12-16  20.610001
2019-12-17  20.500000
2019-12-18  20.719999
2019-12-19  21.160000
2019-12-20  21.330000

[1305 rows x 1 columns]
             EQTL3.SA
Date
2014-12-22   3.473926
2014-12-23   3.500926
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   3.495783
...               ...
2019-12-16  22.059999
2019-12-17  22.080000
2019-12-18  22.379999
2019-12-19  22.549999
2019-12-20  22.379999

[1305 rows x 1 columns]
             FLRY3.SA
Date
2014-12-22   5.930368
2014-12-23   5.853848
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.915065
...               ...
2019-12-16  28.950001
2019-12-17  28.809999
2019-12-18  29.850000
2019-12-19  30.400000
2019-12-20  29.790001

[1305 rows x 1 columns]
             GGBR4.SA
Date
2014-12-22   8.618934
2014-12-23   8.986873
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.609735
...               ...
2019-12-16  18.110001
2019-12-17  18.020000
2019-12-18  17.830000
2019-12-19  18.270000
2019-12-20  19.090000

[1305 rows x 1 columns]
             GNDI3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  61.590000
2019-12-17  63.000000
2019-12-18  65.330002
2019-12-19  66.699997
2019-12-20  67.639999

[1305 rows x 1 columns]
             GOAU4.SA
Date
2014-12-22  10.200424
2014-12-23  10.648383
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.265753
...               ...
2019-12-16   8.480000
2019-12-17   8.430000
2019-12-18   8.390000
2019-12-19   8.700000
2019-12-20   8.970000

[1305 rows x 1 columns]
             GOLL4.SA
Date
2014-12-22  14.700000
2014-12-23  14.270000
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.590000
...               ...
2019-12-16  36.330002
2019-12-17  35.330002
2019-12-18  35.150002
2019-12-19  36.439999
2019-12-20  36.049999

[1305 rows x 1 columns]
             HYPE3.SA
Date
2014-12-22  14.569495
2014-12-23  14.684285
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.799074
...               ...
2019-12-16  33.500000
2019-12-17  33.619999
2019-12-18  34.910000
2019-12-19  35.480000
2019-12-20  35.389999

[1305 rows x 1 columns]
             IGTA3.SA
Date
2014-12-22  23.278322
2014-12-23  23.445059
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.250532
...               ...
2019-12-16  50.669998
2019-12-17  50.139999
2019-12-18  50.560001
2019-12-19  50.869999
2019-12-20  51.139999

[1305 rows x 1 columns]
             IRBR3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  36.740002
2019-12-17  37.220001
2019-12-18  38.209999
2019-12-19  38.250000
2019-12-20  38.750000

[1305 rows x 1 columns]
             ITSA4.SA
Date
2014-12-22   5.141556
2014-12-23   5.146901
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.066731
...               ...
2019-12-16  13.570000
2019-12-17  13.830000
2019-12-18  13.970000
2019-12-19  13.980000
2019-12-20  13.880000

[1305 rows x 1 columns]
             ITUB4.SA
Date
2014-12-22  15.164505
2014-12-23  15.233696
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.017374
...               ...
2019-12-16  35.480000
2019-12-17  36.020000
2019-12-18  36.480000
2019-12-19  36.660000
2019-12-20  36.400002

[1305 rows x 1 columns]
             JBSS3.SA
Date
2014-12-22  10.574880
2014-12-23  10.340714
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.200217
...               ...
2019-12-16  25.500000
2019-12-17  24.990000
2019-12-18  25.879999
2019-12-19  26.250000
2019-12-20  25.990000

[1305 rows x 1 columns]
            KLBN11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  18.520000
2019-12-17  18.750000
2019-12-18  18.840000
2019-12-19  18.790001
2019-12-20  18.740000

[1305 rows x 1 columns]
             LAME4.SA
Date
2014-12-22  13.124061
2014-12-23  13.386642
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.426507
...               ...
2019-12-16  26.500000
2019-12-17  25.870001
2019-12-18  25.700001
2019-12-19  25.850000
2019-12-20  25.709999

[1305 rows x 1 columns]
             LREN3.SA
Date
2014-12-22  10.733930
2014-12-23  10.606019
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.611716
...               ...
2019-12-16  54.450001
2019-12-17  54.139999
2019-12-18  55.099998
2019-12-19  55.639999
2019-12-20  55.450001

[1305 rows x 1 columns]
             MGLU3.SA
Date
2014-12-22   0.456820
2014-12-23   0.451446
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   0.453237
...               ...
2019-12-16  49.299999
2019-12-17  47.880001
2019-12-18  48.529999
2019-12-19  48.619999
2019-12-20  48.299999

[1305 rows x 1 columns]
            MRFG3.SA
Date
2014-12-22      5.80
2014-12-23      5.90
2014-12-24       NaN
2014-12-25       NaN
2014-12-26      6.09
...              ...
2019-12-16     10.87
2019-12-17     10.70
2019-12-18     10.25
2019-12-19      9.72
2019-12-20      9.45

[1305 rows x 1 columns]
             MRVE3.SA
Date
2014-12-22   5.299044
2014-12-23   5.475682
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.369698
...               ...
2019-12-16  22.350000
2019-12-17  21.870001
2019-12-18  21.540001
2019-12-19  21.730000
2019-12-20  21.110001

[1305 rows x 1 columns]
             MULT3.SA
Date
2014-12-22  12.643862
2014-12-23  12.786366
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.690367
...               ...
2019-12-16  31.080000
2019-12-17  30.730000
2019-12-18  31.100000
2019-12-19  31.660000
2019-12-20  31.420000

[1305 rows x 1 columns]
            NAN.SA
Date
2014-12-22     NaN
2014-12-23     NaN
2014-12-24     NaN
2014-12-25     NaN
2014-12-26     NaN
...            ...
2019-12-16     NaN
2019-12-17     NaN
2019-12-18     NaN
2019-12-19     NaN
2019-12-20     NaN

[1305 rows x 1 columns]
             NATU3.SA
Date
2014-12-22  12.780932
2014-12-23  12.902656
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.740357
...               ...
2019-12-16  38.000000
2019-12-17  36.860001
2019-12-18  36.860001
2019-12-19        NaN
2019-12-20        NaN

[1305 rows x 1 columns]
             PCAR4.SA
Date
2014-12-22  94.387619
2014-12-23  93.759331
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  92.816872
...               ...
2019-12-16  83.820000
2019-12-17  84.470001
2019-12-18  87.849998
2019-12-19  87.430000
2019-12-20  87.349998

[1305 rows x 1 columns]
             PETR3.SA
Date
2014-12-22   9.651137
2014-12-23  10.225723
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.592704
...               ...
2019-12-16  31.090000
2019-12-17  31.520000
2019-12-18  32.349998
2019-12-19  32.299999
2019-12-20  32.040001

[1305 rows x 1 columns]
             PETR4.SA
Date
2014-12-22   9.754436
2014-12-23  10.262382
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.707404
...               ...
2019-12-16  29.410000
2019-12-17  29.850000
2019-12-18  30.540001
2019-12-19  30.610001
2019-12-20  30.150000

[1305 rows x 1 columns]
             QUAL3.SA
Date
2014-12-22  18.730698
2014-12-23  18.827818
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  19.119184
...               ...
2019-12-16  33.950001
2019-12-17  34.150002
2019-12-18  35.680000
2019-12-19  37.000000
2019-12-20  36.610001

[1305 rows x 1 columns]
              RADL3.SA
Date
2014-12-22   22.930326
2014-12-23   22.730934
2014-12-24         NaN
2014-12-25         NaN
2014-12-26   23.177193
...                ...
2019-12-16  105.330002
2019-12-17  106.010002
2019-12-18  104.930000
2019-12-19  105.760002
2019-12-20  106.459999

[1305 rows x 1 columns]
             RAIL3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  25.370001
2019-12-17  25.260000
2019-12-18  25.260000
2019-12-19  25.480000
2019-12-20  25.260000

[1305 rows x 1 columns]
             RENT3.SA
Date
2014-12-22   9.292683
2014-12-23   9.259399
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.118677
...               ...
2019-12-16  47.399837
2019-12-17  47.200256
2019-12-18  48.330002
2019-12-19  48.900002
2019-12-20  48.009998

[1305 rows x 1 columns]
            SANB11.SA
Date
2014-12-22  10.523805
2014-12-23  10.444560
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.555504
...               ...
2019-12-16  44.540001
2019-12-17  44.930000
2019-12-18  46.299999
2019-12-19  47.049999
2019-12-20  47.240002

[1305 rows x 1 columns]
             SBSP3.SA
Date
2014-12-22  15.246716
2014-12-23  15.353088
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.432865
...               ...
2019-12-16  58.540001
2019-12-17  58.130001
2019-12-18  59.310001
2019-12-19  59.639999
2019-12-20  59.700001

[1305 rows x 1 columns]
             SMLS3.SA
Date
2014-12-22  31.434816
2014-12-23  31.791348
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  31.617624
...               ...
2019-12-16  38.500000
2019-12-17  38.450001
2019-12-18  38.880001
2019-12-19  39.209999
2019-12-20  38.790001

[1305 rows x 1 columns]
                   SPY
Date
2014-12-22  188.007996
2014-12-23  188.261719
2014-12-24  188.279846
2014-12-25         NaN
2014-12-26  188.886978
...                ...
2019-12-16  317.936859
2019-12-17  318.006531
2019-12-18  318.026398
2019-12-19  319.329987
2019-12-20  320.730011

[1305 rows x 1 columns]
             SUZB3.SA
Date
2014-12-22  19.164869
2014-12-23  19.164869
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  19.164869
...               ...
2019-12-16  39.200001
2019-12-17  40.029999
2019-12-18  39.570000
2019-12-19  39.669998
2019-12-20  40.279999

[1305 rows x 1 columns]
            TAEE11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  30.239584
2019-12-17  30.270000
2019-12-18  30.400000
2019-12-19  30.500000
2019-12-20  30.309999

[1305 rows x 1 columns]
             TIMP3.SA

 38%|███▊      | 3/8 [00:03<00:05,  1.14s/it]

             UGPA3.SA
Date
2014-12-22  20.399210
2014-12-23  20.391304
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  20.252935
...               ...
2019-12-16  22.430000
2019-12-17  23.000000
2019-12-18  23.690001
2019-12-19  24.290001
2019-12-20  24.490000

[1305 rows x 1 columns]
            USIM5.SA
Date
2014-12-22  5.137269
2014-12-23  5.195757
2014-12-24       NaN
2014-12-25       NaN
2014-12-26  5.020291
...              ...
2019-12-16  9.120000
2019-12-17  9.250000
2019-12-18  9.250000
2019-12-19  9.320000
2019-12-20  9.330000

[1305 rows x 1 columns]
             VALE3.SA
Date
2014-12-22  18.549894
2014-12-23  19.287720
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  18.818983
...               ...
2019-12-16  53.340000
2019-12-17  53.419998
2019-12-18  53.470001
2019-12-19  54.000000
2019-12-20  54.700001

[1305 rows x 1 columns]
             VIVT4.SA
Date
2014-12-22  31.935505
2014-12-23  32.315010
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  31.820358
...               ...
2019-12-16  56.630001
2019-12-17  56.869999
2019-12-18  57.060001
2019-12-19  57.240002
2019-12-20  57.720001

[1305 rows x 1 columns]
             VVAR3.SA
Date
2014-12-22   4.936535
2014-12-23   4.936535
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.543556
...               ...
2019-12-16  11.250000
2019-12-17  10.990000
2019-12-18  11.260000
2019-12-19  11.240000
2019-12-20  11.160000

[1305 rows x 1 columns]
             WEGE3.SA
Date
2014-12-22  10.349578
2014-12-23  10.305437
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.424267
...               ...
2019-12-16  33.490002
2019-12-17  33.959999
2019-12-18  33.900002
2019-12-19  33.599998
2019-12-20  34.029999

[1305 rows x 1 columns]
             YDUQ3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  47.349998
2019-12-17  46.349998
2019-12-18  48.139999
2019-12-19  49.700001
2019-12-20  48.990002

[1305 rows x 1 columns]
               ^BVSP
Date
2014-12-22   50121.0
2014-12-23   50890.0
2014-12-24       NaN
2014-12-25       NaN
2014-12-26   50145.0
...              ...
2019-12-16  111896.0
2019-12-17  112616.0
2019-12-18  114315.0
2019-12-19  115131.0
2019-12-20  115121.0

[1305 rows x 1 columns]
                   ^N225
Date
2014-12-22  17635.140625
2014-12-23           NaN
2014-12-24  17854.230469
2014-12-25  17808.750000
2014-12-26  17818.960938
...                  ...
2019-12-16  23952.349609
2019-12-17  24066.119141
2019-12-18  23934.429688
2019-12-19  23864.849609
2019-12-20  23816.630859

[1305 rows x 1 columns]
25 10
             ABEV3.SA
Date
2014-12-22  13.898333
2014-12-23  13.838793
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.796264
...               ...
2019-12-16  18.591703
2019-12-17  18.426054
2019-12-18  18.601448
2019-12-19  18.679399
2019-12-20  18.959999

[1305 rows x 1 columns]
             ABEV3.SA
Date
2014-12-22  13.898333
2014-12-23  13.838793
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.796264
...               ...
2019-12-16  18.591703
2019-12-17  18.426054
2019-12-18  18.601448
2019-12-19  18.679399
2019-12-20  18.959999

[1305 rows x 1 columns]
             AZUL4.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  57.270000
2019-12-17  56.869999
2019-12-18  57.610001
2019-12-19  57.709999
2019-12-20  56.759998

[1305 rows x 1 columns]
             B3SA3.SA
Date
2014-12-22   8.190856
2014-12-23   8.343321
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.207795
...               ...
2019-12-16  46.220001
2019-12-17  47.790001
2019-12-18  48.560001
2019-12-19  48.560001
2019-12-20  49.070000

[1305 rows x 1 columns]
             BBAS3.SA
Date
2014-12-22  18.839794
2014-12-23  18.770786
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  18.824457
...               ...
2019-12-16  47.869999
2019-12-17  48.950001
2019-12-18  50.639999
2019-12-19  51.160000
2019-12-20  50.459999

[1305 rows x 1 columns]
             BBDC3.SA
Date
2014-12-22  14.974662
2014-12-23  15.403829
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.171060
...               ...
2019-12-16  32.029999
2019-12-17  32.540001
2019-12-18  33.799999
2019-12-19  34.299999
2019-12-20  33.340000

[1305 rows x 1 columns]
             BBDC4.SA
Date
2014-12-22  13.735450
2014-12-23  14.197092
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.895813
...               ...
2019-12-16  33.670612
2019-12-17  34.291046
2019-12-18  35.246311
2019-12-19  35.896282
2019-12-20  35.610001

[1305 rows x 1 columns]
             BBSE3.SA
Date
2014-12-22  23.280300
2014-12-23  23.526930
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  24.453657
...               ...
2019-12-16  36.820000
2019-12-17  37.549999
2019-12-18  38.029999
2019-12-19  38.299999
2019-12-20  37.889999

[1305 rows x 1 columns]
            BPAC11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  74.180000
2019-12-17  74.839996
2019-12-18  75.269997
2019-12-19  76.320000
2019-12-20  75.570000

[1305 rows x 1 columns]
             BRAP4.SA
Date
2014-12-22  10.551868
2014-12-23  10.915726
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.706703
...               ...
2019-12-16  37.750000
2019-12-17  37.630001
2019-12-18  37.400002
2019-12-19  37.500000
2019-12-20  37.900002

[1305 rows x 1 columns]
             BRDT3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  28.500000
2019-12-17  29.200001
2019-12-18  29.219999
2019-12-19  29.430000
2019-12-20  29.469999

[1305 rows x 1 columns]
             BRFS3.SA
Date
2014-12-22  60.871243
2014-12-23  61.110550
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  60.210739
...               ...
2019-12-16  34.740002
2019-12-17  33.630001
2019-12-18  34.330002
2019-12-19  34.369999
2019-12-20  34.610001

[1305 rows x 1 columns]
             BRKM5.SA
Date
2014-12-22  12.527965
2014-12-23  12.758762
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.564026
...               ...
2019-12-16  28.639999
2019-12-17  28.459999
2019-12-18  28.770000
2019-12-19  28.010000
2019-12-20  28.160000

[1305 rows x 1 columns]
              BRL=X
Date
2014-12-22  2.65650
2014-12-23  2.66240
2014-12-24  2.69120
2014-12-25  2.69120
2014-12-26  2.69520
...             ...
2019-12-16  4.08580
2019-12-17  4.06190
2019-12-18  4.07020
2019-12-19  4.05966
2019-12-20  4.06880

[1305 rows x 1 columns]
             BRML3.SA
Date
2014-12-22   9.556483
2014-12-23   9.685891
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.768322
...               ...
2019-12-16  17.360001
2019-12-17  17.389999
2019-12-18  17.670000
2019-12-19  18.000000
2019-12-20  17.950001

[1305 rows x 1 columns]
             BTOW3.SA
Date
2014-12-22  23.167500
2014-12-23  23.264000
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.119200
...               ...
2019-12-16  66.540001
2019-12-17  64.279999
2019-12-18  63.880001
2019-12-19  63.810001
2019-12-20  62.419998

[1305 rows x 1 columns]
             CCRO3.SA
Date
2014-12-22  12.488661
2014-12-23  12.665806
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.641649
...               ...
2019-12-16  17.770000
2019-12-17  17.750000
2019-12-18  18.209999
2019-12-19  18.230000
2019-12-20  18.709999

[1305 rows x 1 columns]
             CIEL3.SA
Date
2014-12-22  17.888815
2014-12-23  17.821741
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  17.888815
...               ...
2019-12-16   8.330000
2019-12-17   8.790000
2019-12-18   8.740000
2019-12-19   8.540000
2019-12-20   8.470000

[1305 rows x 1 columns]
             CMIG4.SA
Date
2014-12-22   9.036619
2014-12-23   9.164706
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.371041
...               ...
2019-12-16  13.410000
2019-12-17  13.500000
2019-12-18  13.570000
2019-12-19  13.690000
2019-12-20  13.660000

[1305 rows x 1 columns]
             COGN3.SA
Date
2014-12-22  14.441692
2014-12-23  14.521875
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.815874
...               ...
2019-12-16  12.100000
2019-12-17  12.000000
2019-12-18  11.640000
2019-12-19  11.210000
2019-12-20  11.100000

[1305 rows x 1 columns]
             CSAN3.SA
Date
2014-12-22  22.854237
2014-12-23  23.340143
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.348379
...               ...
2019-12-16  69.330002
2019-12-17  68.400002
2019-12-18  69.120003
2019-12-19  68.370003
2019-12-20  69.900002

[1305 rows x 1 columns]
             CSNA3.SA
Date
2014-12-22   4.523788
2014-12-23   4.847467
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   4.662508
...               ...
2019-12-16  14.010000
2019-12-17  13.880000
2019-12-18  13.730000
2019-12-19  13.730000
2019-12-20  13.870000

[1305 rows x 1 columns]
             CVCB3.SA
Date
2014-12-22  14.142779
2014-12-23  14.050944
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.050944
...               ...
2019-12-16  43.380001
2019-12-17  42.660000
2019-12-18  43.070000
2019-12-19  44.590000
2019-12-20  43.860001

[1305 rows x 1 columns]
             CYRE3.SA
Date
2014-12-22   9.599018
2014-12-23   9.573166
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.564550
...               ...
2019-12-16  30.110001
2019-12-17  29.660000
2019-12-18  29.700001
2019-12-19  29.290001
2019-12-20  29.080000

[1305 rows x 1 columns]
                  DAX
Date
2014-12-22  23.931648
2014-12-23  23.942440
2014-12-24  23.982016
2014-12-25        NaN
2014-12-26  23.924452
...               ...
2019-12-16  28.379999
2019-12-17  28.195000
2019-12-18  27.990000
2019-12-19  27.834999
2019-12-20  27.955000

[1305 rows x 1 columns]
             ECOR3.SA
Date
2014-12-22   8.562092
2014-12-23   8.669221
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.710424
...               ...
2019-12-16  15.210000
2019-12-17  15.150000
2019-12-18  15.510000
2019-12-19  15.960000
2019-12-20  15.900000

[1305 rows x 1 columns]
             EGIE3.SA
Date
2014-12-22  17.482048
2014-12-23  17.517969
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  17.651382
...               ...
2019-12-16  47.509998
2019-12-17  47.299999
2019-12-18  49.680000
2019-12-19  48.750000
2019-12-20  48.860001

[1305 rows x 1 columns]
             ELET3.SA
Date
2014-12-22   5.487000
2014-12-23   5.467510
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.711155
...               ...
2019-12-16  36.250000
2019-12-17  35.930000
2019-12-18  35.389999
2019-12-19  35.869999
2019-12-20  35.720001

[1305 rows x 1 columns]
             ELET6.SA
Date
2014-12-22   6.438653
2014-12-23   6.613616
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.911055
...               ...
2019-12-16  37.849998
2019-12-17  37.660000
2019-12-18  36.549999
2019-12-19  37.099998
2019-12-20  37.099998

[1305 rows x 1 columns]
             EMBR3.SA
Date
2014-12-22  23.668304
2014-12-23  24.342890
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.649029
...               ...
2019-12-16  18.959999
2019-12-17  19.160000
2019-12-18  19.420000
2019-12-19  19.290001
2019-12-20  19.379999

[1305 rows x 1 columns]
             ENBR3.SA
Date
2014-12-22   6.745986
2014-12-23   6.866048
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   6.828530
...               ...
2019-12-16  20.610001
2019-12-17  20.500000
2019-12-18  20.719999
2019-12-19  21.160000
2019-12-20  21.330000

[1305 rows x 1 columns]
             EQTL3.SA
Date
2014-12-22   3.473926
2014-12-23   3.500926
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   3.495783
...               ...
2019-12-16  22.059999
2019-12-17  22.080000
2019-12-18  22.379999
2019-12-19  22.549999
2019-12-20  22.379999

[1305 rows x 1 columns]
             FLRY3.SA
Date
2014-12-22   5.930368
2014-12-23   5.853848
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.915065
...               ...
2019-12-16  28.950001
2019-12-17  28.809999
2019-12-18  29.850000
2019-12-19  30.400000
2019-12-20  29.790001

[1305 rows x 1 columns]
             GGBR4.SA
Date
2014-12-22   8.618934
2014-12-23   8.986873
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   8.609735
...               ...
2019-12-16  18.110001
2019-12-17  18.020000
2019-12-18  17.830000
2019-12-19  18.270000
2019-12-20  19.090000

[1305 rows x 1 columns]
             GNDI3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  61.590000
2019-12-17  63.000000
2019-12-18  65.330002
2019-12-19  66.699997
2019-12-20  67.639999

[1305 rows x 1 columns]
             GOAU4.SA
Date
2014-12-22  10.200424
2014-12-23  10.648383
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.265753
...               ...
2019-12-16   8.480000
2019-12-17   8.430000
2019-12-18   8.390000
2019-12-19   8.700000
2019-12-20   8.970000

[1305 rows x 1 columns]
             GOLL4.SA
Date
2014-12-22  14.700000
2014-12-23  14.270000
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.590000
...               ...
2019-12-16  36.330002
2019-12-17  35.330002
2019-12-18  35.150002
2019-12-19  36.439999
2019-12-20  36.049999

[1305 rows x 1 columns]
             HYPE3.SA
Date
2014-12-22  14.569495
2014-12-23  14.684285
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  14.799074
...               ...
2019-12-16  33.500000
2019-12-17  33.619999
2019-12-18  34.910000
2019-12-19  35.480000
2019-12-20  35.389999

[1305 rows x 1 columns]
             IGTA3.SA
Date
2014-12-22  23.278322
2014-12-23  23.445059
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  23.250532
...               ...
2019-12-16  50.669998
2019-12-17  50.139999
2019-12-18  50.560001
2019-12-19  50.869999
2019-12-20  51.139999

[1305 rows x 1 columns]
             IRBR3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  36.740002
2019-12-17  37.220001
2019-12-18  38.209999
2019-12-19  38.250000
2019-12-20  38.750000

[1305 rows x 1 columns]
             ITSA4.SA
Date
2014-12-22   5.141556
2014-12-23   5.146901
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.066731
...               ...
2019-12-16  13.570000
2019-12-17  13.830000
2019-12-18  13.970000
2019-12-19  13.980000
2019-12-20  13.880000

[1305 rows x 1 columns]
             ITUB4.SA
Date
2014-12-22  15.164505
2014-12-23  15.233696
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  15.017374
...               ...
2019-12-16  35.480000
2019-12-17  36.020000
2019-12-18  36.480000
2019-12-19  36.660000
2019-12-20  36.400002

[1305 rows x 1 columns]
             JBSS3.SA
Date
2014-12-22  10.574880
2014-12-23  10.340714
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.200217
...               ...
2019-12-16  25.500000
2019-12-17  24.990000
2019-12-18  25.879999
2019-12-19  26.250000
2019-12-20  25.990000

[1305 rows x 1 columns]
            KLBN11.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  18.520000
2019-12-17  18.750000
2019-12-18  18.840000
2019-12-19  18.790001
2019-12-20  18.740000

[1305 rows x 1 columns]
             LAME4.SA
Date
2014-12-22  13.124061
2014-12-23  13.386642
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  13.426507
...               ...
2019-12-16  26.500000
2019-12-17  25.870001
2019-12-18  25.700001
2019-12-19  25.850000
2019-12-20  25.709999

[1305 rows x 1 columns]
             LREN3.SA
Date
2014-12-22  10.733930
2014-12-23  10.606019
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  10.611716
...               ...
2019-12-16  54.450001
2019-12-17  54.139999
2019-12-18  55.099998
2019-12-19  55.639999
2019-12-20  55.450001

[1305 rows x 1 columns]
             MGLU3.SA
Date
2014-12-22   0.456820
2014-12-23   0.451446
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   0.453237
...               ...
2019-12-16  49.299999
2019-12-17  47.880001
2019-12-18  48.529999
2019-12-19  48.619999
2019-12-20  48.299999

[1305 rows x 1 columns]
            MRFG3.SA
Date
2014-12-22      5.80
2014-12-23      5.90
2014-12-24       NaN
2014-12-25       NaN
2014-12-26      6.09
...              ...
2019-12-16     10.87
2019-12-17     10.70
2019-12-18     10.25
2019-12-19      9.72
2019-12-20      9.45

[1305 rows x 1 columns]
             MRVE3.SA
Date
2014-12-22   5.299044
2014-12-23   5.475682
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   5.369698
...               ...
2019-12-16  22.350000
2019-12-17  21.870001
2019-12-18  21.540001
2019-12-19  21.730000
2019-12-20  21.110001

[1305 rows x 1 columns]
             MULT3.SA
Date
2014-12-22  12.643862
2014-12-23  12.786366
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.690367
...               ...
2019-12-16  31.080000
2019-12-17  30.730000
2019-12-18  31.100000
2019-12-19  31.660000
2019-12-20  31.420000

[1305 rows x 1 columns]
            NAN.SA
Date
2014-12-22     NaN
2014-12-23     NaN
2014-12-24     NaN
2014-12-25     NaN
2014-12-26     NaN
...            ...
2019-12-16     NaN
2019-12-17     NaN
2019-12-18     NaN
2019-12-19     NaN
2019-12-20     NaN

[1305 rows x 1 columns]
             NATU3.SA
Date
2014-12-22  12.780932
2014-12-23  12.902656
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  12.740357
...               ...
2019-12-16  38.000000
2019-12-17  36.860001
2019-12-18  36.860001
2019-12-19        NaN
2019-12-20        NaN

[1305 rows x 1 columns]
             PCAR4.SA
Date
2014-12-22  94.387619
2014-12-23  93.759331
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  92.816872
...               ...
2019-12-16  83.820000
2019-12-17  84.470001
2019-12-18  87.849998
2019-12-19  87.430000
2019-12-20  87.349998

[1305 rows x 1 columns]
             PETR3.SA
Date
2014-12-22   9.651137
2014-12-23  10.225723
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.592704
...               ...
2019-12-16  31.090000
2019-12-17  31.520000
2019-12-18  32.349998
2019-12-19  32.299999
2019-12-20  32.040001

[1305 rows x 1 columns]
             PETR4.SA
Date
2014-12-22   9.754436
2014-12-23  10.262382
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.707404
...               ...
2019-12-16  29.410000
2019-12-17  29.850000
2019-12-18  30.540001
2019-12-19  30.610001
2019-12-20  30.150000

[1305 rows x 1 columns]
             QUAL3.SA
Date
2014-12-22  18.730698
2014-12-23  18.827818
2014-12-24        NaN
2014-12-25        NaN
2014-12-26  19.119184
...               ...
2019-12-16  33.950001
2019-12-17  34.150002
2019-12-18  35.680000
2019-12-19  37.000000
2019-12-20  36.610001

[1305 rows x 1 columns]
              RADL3.SA
Date
2014-12-22   22.930326
2014-12-23   22.730934
2014-12-24         NaN
2014-12-25         NaN
2014-12-26   23.177193
...                ...
2019-12-16  105.330002
2019-12-17  106.010002
2019-12-18  104.930000
2019-12-19  105.760002
2019-12-20  106.459999

[1305 rows x 1 columns]
             RAIL3.SA
Date
2014-12-22        NaN
2014-12-23        NaN
2014-12-24        NaN
2014-12-25        NaN
2014-12-26        NaN
...               ...
2019-12-16  25.370001
2019-12-17  25.260000
2019-12-18  25.260000
2019-12-19  25.480000
2019-12-20  25.260000

[1305 rows x 1 columns]
             RENT3.SA
Date
2014-12-22   9.292683
2014-12-23   9.259399
2014-12-24        NaN
2014-12-25        NaN
2014-12-26   9.118677
...               ...
2019-12-16  47.399837
2019-12-17  47.200256
2019-12-18  48.330002
2019-12-19  48.900002
2019-12-20  48.009998

[1305 rows x 1 columns]
            SANB11.SA
Date
2014-12-22  10.523805

 38%|███▊      | 3/8 [00:05<00:08,  1.77s/it]

KeyboardInterrupt:

In [ ]:
heat =pd.Series(pars).sort_values(ascending=False)
pd.Series(pars).sort_values(ascending=False)

In [ ]:
heat =heat.reset_index()

In [ ]:
sns.heatmap(heat.pivot('level_0','level_1',0))

In [ ]:
heat =pd.Series(pars2).sort_values(ascending=False)
heat =heat.reset_index()
sns.heatmap(heat.pivot('level_0','level_1',0))